/*=============================
	Global Styles
=============================*/



/*=============================
	Element Styles
=============================*/
body {

	background-color: #e3f4fc;
}

article {
	margin-bottom: 1em;
}

header {
font-size: 1.5em;
font-weight: bold;
}

/*=============================
	Class Styles
=============================*/
.entry-footer {
	font-style: italic;
	font-size: .9em;
}